<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grøh</title>
  <br>
  <center><h1>GRØH</h1></center>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      color:FireBrick;
      background-color:Black;
    }
  </style>
</head>
<body>
<div align = "left"><img src="https://www.fightersgeneration.com/nf6/char/groh-soulcalibur6-story-portrait-artwork-by-hiroaki.jpg" alt = "Grøh" height = "600" width = "300"></div>

</body>
</html>
