<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grøh</title>
  <br>
  <center><h1>GRØH</h1></center>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      color:FireBrick;
      background-color:Black;
    }

    .portrait {
    position: absolute;
    left: 250px;
    top: 100px;
    }

    .biotitle {
    position: absolute;
    left: 600px;
    top: 100px;
  }

    .biography {
    position: absolute;
    left: 700px;
    top: 200px;
    }


  </style>
</head>
<body>
<div class = "portrait"><img src="https://www.fightersgeneration.com/nf6/char/groh-soulcalibur6-story-portrait-artwork-by-hiroaki.jpg" alt = "Grøh" height = "600" width = "300"></div>
<br>
<div class = "biotitle"><h1>Grøh, The Agent in Black</h1></div>
<div class = "biotitle"><h2><i>"Do not hold back. However, I will."</i></h2>
<div class = "biography"><p>Born: Denmark-Norway</p>
<div class = "biography"><p>Weapon: Twin Sabers</p>
<div class = "biography"><p>Weapon Name: Arondight Replica</p>
</body>
</html>
