<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <div class='navbar-header'>
              <a class='navbar-brand' href='https://reikamoon.github.io/SPD_Prototype/'>
                  Back to the Astral Chaos
              </a>
          </div>
  <title>News</title>
  <style>
    body {
      color:FireBrick;
      background-color:Black;
    }
  </style>
</head>
<body>
  <div class="w3-container w3-Red">
    <h1>News</h1>
  </div>

  <div class="w3-container">
    <p>Season 2 is out now for SOULCALIBUR VI.</p>
  </div>

</body>
</html>
